
<div style="margin-top: -105px">
    <div class="row justify-content-center text-center habilidades">
        <div class="col col-3 bg-white " style="border-radius: 15px 0 0 15px; box-shadow: 0 5px 5px 0 gray">
            <i class="bi bi-hdd-fill"></i>
            <h3>Back-end</h3>
            <p>
                trabajo desde el desarrollo pruebas autimaticas y puestas en producion con entrega continua y rapida.

            </p>
            <p class="text-primary cabecera">
                Stack
            </p>
            <p>
                ASP.NET Core SQL Server
            </p>
            <p class="cabecera">
                Experiencia
            <p />
            <ul>
                <li>Web api</li>
                <li>Asp.net Core mvc</li>
                <li>Entity framework</li>
                <li>Blazor</li>
                <li>Dapper</li>
                <li>Queries especiales</li>
                <li>principios de Solid</li>
            </ul>
        </div>

        <div class="col col-3 bg-white habilidades" style="border-radius: 0px 15px 15px 0; box-shadow: 0 5px 5px 0 gray">
            <i class="bi bi-code-slash"></i>
            <h3>Front-End</h3>
            <p>
                Puedo crear Front-End robusto cumpliendo con los requerimiento del negocio.
            </p>
            <p class="text-primary cabecera">
                Stack
            </p>
            <p>
                React, angular y Blazor
            </p>
            <p class="cabecera">
                Experiencia
            <p />
            <ul>
                <li>Web api</li>
                <li>Asp.net Core mvc</li>
                <li>Entity framework</li>
                <li>Blazor</li>
                <li>Dapper</li>
                <li>Queries especiales</li>
                <li>principios de Solid</li>
            </ul>
        </div>
    </div>
</div>