@model IEnumerable<Proyecto>

@if (Model is not null)
{
    <div class="text-center" style="padding-top: 6rem;">
        <h1 class="">Mis trabajos reciente</h1>
        <p>Aqui puede ver unos de mis trabajos mas recientes</p>
    </div>

    <partial name="_ListadosProyectos" model="Model"/>

}
