@model IEnumerable<Proyecto>


@{
    ViewData["title"] = "Proyectos";
}

<div class="container">
    <h1> MIs proyectos</h1>
    <p>Aqui encontraran todos mis proyctos</p>
</div>
<partial name="_ListadosProyectos" model="Model" />
